/*.div1 {
    width: 200px;
    height: 100px;
    background-color: rgb(4, 4, 71);
    position: absolute;
    border-radius: 12px;
    border: 1px wheat solid;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
}  


.div1 {
    width: 200px;
    height: 100px;
    background-color: rgb(4, 4, 71);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}*/

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    z-index: 2;
    background-color: rgb(4, 4, 71);
    border-radius: 12px;
    border: 1px wheat solid;
}